body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
	text-transform: lowercase;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}

a, a:visited {
	color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}
.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.block-title { background-color: #FFF; padding-bottom: 50px; }
.block-title h2 { color: #000; }
.block-title .meta { font-size: 16px; color: #999; }
.block-title .meta a { font-size: 16px; color: #333; }

.block-blueslide { background-color: #348fd4; }
.block-blueslide h2 { color: #06406c; }
.block-blueslide h2 a { background: none; padding: 0; font-size: normal; }
.block-blueslide a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-blueslide a:hover { text-decoration: underline; }

.block-greenslide { background-color: #54d434; }
.block-greenslide h2 { color: #FFF; }
.block-greenslide h2 a { background: none; padding: 0; font-size: normal; }
.block-greenslide a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-greenslide a:hover { text-decoration: underline; }

.block-cherryslide { background-color: #4c0d09; }
.block-cherryslide { color: #d3b2af; }
.block-cherryslide p { color: #d3b2af; }
.block-cherryslide code { color: #000; background-color: white; }

.block-pinkslide { background-color: #cc4037; }
.block-pinkslide h2, .block-add p { color: #4c0d09; }

.block-pinklowslide { background-color: #ffc19f; }
.block-pinklowslide h2 { color: #cc4037; }

.block-blackslide { background-color: #000; }
.block-blackslide h2 { color: #FFF; }
.block-blackslide p { color: #DDD; }
.block-blackslide code { color: #000; background-color: white; }

